.App {
  margin-top: 1em;
}

.page {
  height: 100%;
  background-color:rgb(74, 169, 108);
}

.general-button {
  background-color:rgb(109, 216, 111);
}

.main-button {
  height: 100px;
  width: 300px;
  font-size: xxx-large;
}

.invisible-canvas {
  position: relative;
  bottom: 200px;
  visibility: hidden;
}

.Title {
  height:max-content;
  background-color:rgb(74, 169, 108);
}

.logo {
  position: relative;
  top: 100px;
}

.text-box {
  text-align: center; 
  font-size: x-large; 
  color: white;
  background-color:rgb(109, 216, 111);
}

.error-box {
  text-align: center; 
  font-size: x-large; 
  color: red;
  background-color:rgb(109, 216, 111);
}